#outer div{
    height:50vh;
    width: 80vw;
    margin-top:30;
    margin-left:20;
    margin-right:40;
    margin-bottom:50;
    padding:10px;
    
    
}
#div1{
    height:50vh;
    width: 80vw;
    margin-top:30;
    margin-left:20;
    margin-right:40;
    margin-bottom:50;
    padding:10px;


}
