h1{
    color:red;
    font-size:28px;
    font-family:cursive;
}
h2{
    color:red;
    font-size:28px;
    font-family:cursive;
}
p{
    color:red;
    font-family:cursive;
}
#div1{
    color:violet;
    font-family: fantasy;
}
#div2{
    color:violet;
    font-family: fantasy;
}